<div class="edit_study">
    <button class="study_close" style="border:none;"><span class="material-icons">
        close
        </span></button>
    {{form_start(form)}}
    {{ form_row(form.nom)}}
    {{ form_row(form.prenom)}}
    <button type="submit">Ok</button>
    {{ form_end(form)}}
</div>