
        <div class="formulaire">
        <button class="button"><span class="material-icons">
        close
        </span></button>
        {{ form_start( form,{attr:{class:'js-form'}} ) }}
        {{ form_rest(form)}}
        <button type="submit" class="btn ">editer</button>
        {{ form_end(form)}}
    </div>

